<div id="sidebar" class="sidebar">
    <a href="/trips"><i class="bi bi-house" style="padding-right: 10px;"></i> Home</a>
    <a href="/addplan"><i class="bi bi-plus-square" style="padding-right: 10px;"></i> Add Plan</a>
    <a href="/profile"><i class="bi bi-people" style="padding-right: 10px;"></i>Profile</a>
    <form action="/logout" method="POST">
        <button class="logout-btn">Logout</button>
    </form>
</div>

<button class="open-btn" onclick="toggleSidebar()">☰ Menu</button>